.gradient-background {
  background: linear-gradient(300deg, #FFE2E2,#FFC7C7, #8785A2 );
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.mainBtnColored{
  background-color:#ffffff !important;
  border-color:#ffffff !important;
  color:black !important;
}

.btnColored{
  background-color:#FFC7C7 !important;
  border-color:#FFC7C7 !important;
  color:black !important;
}

.itemInvitatie{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.itemInvitatie img{
  margin: auto;
}

.font-text-navbar{
  font-family: 'Oswald', sans-serif;
}

.phoneImg img{
  width: auto;
  height: 800px;
}


.wedding
{
  fill:#EFB495;
}
.baptism{
  fill: #AC87C5;
}
.aniversary{
  fill:#756AB6;
}
.graduation{
  fill:#A1EEBD;
}
.business{
  fill:#7BD3EA;
}
.save-date{
  fill: #FF6868;
}
.icon-link
{
  color:#8785A2 !important; 
}

.eventContainer{
  text-decoration: none;
}